{% extends 'base.html' %}

{% block title %}
Remoção de Funcionários
{% endblock title %}

{% block content %}
<style>
    .word-wrap-break {
        word-wrap: break-word;
    }
    button {
        margin-right: 10px;
    }
</style>
<section class="invoice">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                <i class="fa fa-trash"></i> Tem certeza que deseja exluir o funcionário a seguir?  
            </h2>
            <h5>Nome: {{funcionario.nome}}</h5>

            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Remover</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}